.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-xs);
  border: 1px solid var(--color-primary-dark);
  gap: var(--spacing-xs);
  flex-wrap: wrap;

  .details {
    font-size: var(--font-size-xs);
  }

  svg {
    cursor: pointer;
    width: 15px;
    height: 15px;

    &:hover {
      color: var(--color-primary-light);
    }
  }
}
