.buttonRectangle {
  &::before {
    content: "";
    width: 300px;
    height: var(--button-height-lg);
    position: absolute;
    top: -3px;
    left: -3px;
    z-index: -1;
    background-color: var(--color-primary-dark);
  }

  &.horizontal::before {
    transform: translateX(-100%);
    transition: transform .4s cubic-bezier(.17,.92,.58,.08);
  }

  &.horizontal:hover::before {
    transform: translateX(0);
  }

  &.vertical::before {
    transform: translateY(-100%);
    transition: transform .4s cubic-bezier(.17,.92,.58,.08);
  }

  &.vertical:hover::before {
    transform: translateY(0);
  }
}