.button {
  min-width: 200px;
  height: 50px;
  border: 3px solid black;
  font-size: 18px;
  font-weight: bold;
  background-color: transparent;
  position: relative;
  overflow: hidden;
  transition: all .2s ease;
  color: #000000;

  &:hover {
    cursor: pointer;

    span {
      color: #ffffff;
    }
  }

  &.statefulBtn {
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #000000;
      transform: translateX(-100%);
      transition: transform 2s cubic-bezier(.05, .78, .73, .7);
    }

    &.loading::before {
      transform: translateX(0);
    }

    &.finished::before {
      background-color: #000000;
      transform: translateX(0);
    }

    span {
      position: absolute;
      color: #000000;
      transition: transform .8s ease-in;
    }


    &.finished {
      span {
        color: #ffffff;
      }
    }

    .labelStandby {
      &.current {
        transform: translateY(0);
      }

      &.previous {
        transform: translateY(-100px);
      }
    }

    .labelLoading {
      transform: translateY(100px);

      &.current {
        transform: translateY(0);
      }

      &.previous {
        transform: translateY(-100px);
      }

      &.next {
        transform: translateY(100px);
      }
    }

    .labelFinished {
      transform: translateY(200px);

      &.current {
        transform: translateY(0);
      }

      &.next {
        transform: translateY(100px);
      }
    }
  }

  &.small {
    min-width: 100px;
    height: 35px;
    font-size: 12px;
  }

  &.medium {
    height: 40px;
    min-width: 120px;
    font-size: 16px;
  }

  &.large {
    height: 50px;
    min-width: 200px;
    font-size: 18px;
  }
}

@import './ButtonCircle.module.scss';
@import "./ButtonAnimatedBorder.module.scss";
@import './ButtonRectangle.module.scss';